
.container {
    margin-top: 20px;
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .user-table th {
    text-align: center;
    background-color: #6BD8CA;
  }
  
  .user-actions button {
    margin-right: 5px;
  }
  .row{
    display: flex;
    gap: 10px;
  }
  